*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  /* background-color: #242424; */
}